{% extends "main/sample.html" %}
{% load static %}

{% block title %}
dmitry
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
{% endblock %}

{% block body %}
<main>
    <h1> Страница dmitry </h1>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Поиск</span>
        </div>
        <input type="text" class="form-control" placeholder="Ник пользователя" aria-label="Username"
               aria-describedby="basic-addon1" style="width:20rem;">
    </div>
    <div class="container mx-auto mt-4">
        <div class="row">
            {% for ach in achievements %}
            <div class="col-md-4">
                <div class="card" style="width:18rem;">
                    <a href="{{ ach.file }}"><img src="{{ ach.preview.url }}" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title">{{ ach.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ ach.pub_date }}</h6>
                        <p> Просмотры - {{ ach.views }} </p>
                        <p> Лайки - {{ ach.likes }} </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
<footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © ДиджиталПортфолио
    </div>
</footer>
{% endblock %}