{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ profile.user.username }}</title>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const searchInput = document.querySelector('.search-bar input[name="q"]');
            if (searchInput) {
                searchInput.value = '';
            }

            var modal = document.getElementById("profileModal");
            var btn = document.getElementById("profileIcon");
            var span = document.getElementsByClassName("close")[0];
            btn.onclick = function() {
                modal.style.display = "block";
            }
            span.onclick = function() {
                modal.style.display = "none";
            }
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            const likeButtons = document.querySelectorAll('.likes img');
            likeButtons.forEach(button => {
                button.addEventListener('click', (event) => {
                    const card = event.target.closest('.card');
                    const achievementId = card.dataset.achievementId;

                    fetch(`/toggle-like/${achievementId}/`, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        const likesCount = card.querySelector('.likes-count');
                        likesCount.textContent = data.likes;
                        if (data.liked) {
                            event.target.src = '{% static "main/img/RedLike.svg" %}';
                        } else {
                            event.target.src = '{% static "main/img/Like.svg" %}';
                        }
                    });
                });
            });
        });
    </script>
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
</head>
<body>
<header>
    <div class="logo">
        <p>Digital</p>
        <p>Portfolio</p>
    </div>
    <div class="search-bar">
        <form method="get">
            <div class="input-group">
                <img src="{% static 'main/img/Search.svg' %}" width="22" height="22" alt="Поиск">
                <input type="text" name="q" placeholder="Поиск">
            </div>
        </form>
    </div>
    <div class="profile-section">
        {% if request.user == profile.user %}
        <a class="upload" href="{% url 'add-achievement' slug=profile.slug %}"><img
                src="{% static 'main/img/Upload.png' %}"></a>
        {% endif %}
        <div class="profile-icon">
            <img src="{% if profile.avatar %}{{ profile.avatar.url }}{% else %}{% static 'main/img/user.svg' %}{% endif %}"
                 alt="Profile Icon" id="profileIcon">
        </div>
    </div>
    <div id="profileModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Изменить профиль</h2>
            <form method="post" enctype="multipart/form-data" action="{% url 'update-profile' profile.slug %}">
                {% csrf_token %}
                <div>
                    <label for="avatar">Аватар:</label>
                    <input type="file" id="avatar" name="avatar">
                </div>
                <div>
                    <label for="is_private">Закрытый профиль:</label>
                    <input type="checkbox" id="is_private" name="is_private" {% if profile.is_private %}checked{% endif %}>
                </div>
                <div>
                    <button type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</header>
<main>
    <h1>Страница {{ profile.user.username }}</h1>
    {% if profile.is_private == False or request.user == profile.user %}
    <div class="cards-container">
        {% for ach in achievements %}
        <div class="card" data-achievement-id="{{ ach.id }}">
            <a href="{% url 'increment-views' ach.id %}">
                <img class="ach-image" src="{{ ach.preview.url }}" alt="...">
            </a>
            <div class="details">
                <div>
                    <h2>{{ ach.title }}</h2>
                    <p>{{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                </div>
                <div>
                    <p>{{ ach.pub_date|date:"d-m-Y" }}</p>
                    <div class="statistic">
                        <p class="likes">
                            <img src="{% static 'main/img/Like.svg' %}" width="19" height="19">
                            <span class="likes-count">{{ ach.formatted_likes }}</span>
                        </p>
                        <p class="views">
                            <img src="{% static 'main/img/Eye.svg' %}" width="20" height="20">
                            {{ ach.formatted_views }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="closed">
        <img src="{% static 'main/img/Lock.png' %}" width="400" height="400">
        <p> Это закрытый профиль</p>
    </div>
    {% endif %}
</main>
<footer>
    <p>© DigitalPortfolio, 2024</p>
</footer>
</body>
</html>
