{% extends "main/sample.html" %}
{% load static %}

{% block title %}
{{ owner.username }}
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">
{% endblock %}

{% block body %}
    <header>
        <h1> Страница {{ profile.user.username }} </h1>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Ник пользователя" aria-label="Username"
                   aria-describedby="basic-addon1" style="width:20rem;">
        </div>
        {% if request.user == profile.user %}
        <div>
            <button class="button" type="button" onclick="window.dialog.showModal();">Редактировать профиль</button>
            <dialog id="dialog">
                <h2>{{ profile.user.first_name }} {{ profile.user.last_name }}</h2>
                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="form-fields">
                        <div class="form-field username">
                            <h3>Изменить имя</h3>
                            <input type="text" placeholder="Новое имя" class="field-email" name="username">
                        </div>
                        <div class="form-field username">
                            <h3>Изменить фамилию</h3>
                            <input type="text" placeholder="Новая фамилия" class="field-email" name="username">
                        </div>
                        <div class="form-field username">
                            <h3>Изменить email</h3>
                            <input type="text" placeholder="Новый email" class="field-email" name="username">
                        </div>
                        <div class="form-field password">
                            <h3>Изменить пароль</h3>
                            <input type="text" placeholder="Новый пароль" class="field-password" name="password">
                        </div>
                        <button type="submit" onclick="window.dialog.close();" aria-label="close">Сохранить</button>
                    </div>
                </form>
            </dialog>
        </div>

        <div class="add-button">
            <a href="{% url 'add-achievement' slug=profile.slug %}">
                <img src="{% static 'main/img/Upload.png' %}">
            </a>
        </div>
        {% endif %}
    </header>
    <main>
        <div class="container mx-auto mt-4">
            <div class="row">
                {% for ach in achievements %}
                <div class="col-md-4">
                    <div class="card" style="width:18rem;">
                        <a href="{{ ach.file.url }}"><img src="{{ ach.preview.url }}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ ach.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ ach.pub_date }}</h6>
                            <p> <img src="{% static 'main/img/Eye.png' %}">  {{ ach.views }} </p>
                            <p> <img src="{% static 'main/img/Like.png' %}">  {{ ach.likes }} </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer class="bg-body-tertiary text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © ДиджиталПортфолио
        </div>
    </footer>
{% endblock %}