body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 20px;
    display: inline-block;
    width: 120px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: #43AC71;
    font: bold 20px/45px Manrope;
    position: relative;
    border-radius: 25px;
}

.button:hover {
    background: #6CC291;
}

input[type=text] {
    width: 562px;
    height: 42px;
    padding: 12px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 25px;
    background-color: #F8F8F8;
    background-position: 3% 50%;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.field-email {
    background: url('../img/email.png') no-repeat 5px 5px;
}

.field-password {
    background-image: url('../img/password.png');
}
.field-nickname {
    background: url('../img/nick.png') no-repeat 5px 5px;
}
.field-name {
    background: url('../img/name.png') no-repeat 5px 5px;
}
/*input[type=text]:focus {
  border: 3px solid black;
}*/