.button {
    margin-top: 20px;
    display: inline-block;
    width: 240px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: #43AC71;
    font: bold 20px/45px Manrope;
    position: relative;
    border-radius: 25px;
}

.button:hover {
    background: #6CC291;
}

.button-forget {
    width: 240px;
    height: 50px;
}
.form-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "email email"
                         "name last-name"
                         "username username"
                         "password password"
                         "confirm-password confirm-password"
                         "form-button our";
}
.email {
    grid-area: email;
}
.name {
    grid-area: name;
}
.last-name {
    grid-area: last-name;
}
.confirm-password {
    grid-area: confirm-password;
}
.form-button {
    grid-area: form-button;
    margin-top: 22px
}
.our {
    grid-area: our;
    justify-self: end;
    align-self: end;
    padding-right: 27px;
    display: grid
}
