.field-nickname {
    background: url('../img/nick.png') no-repeat 5px 5px;
}

.field-name {
    background: url('../img/name.png') no-repeat 5px 5px;
}

.button {
    margin-top: 20px;
    display: inline-block;
    width: 240px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: #43AC71;
    font: bold 20px/45px Manrope;
    position: relative;
    border-radius: 25px;
}

.button:hover {
    background: #6CC291;
}
.button-forget {
    width: 240px;
    height: 50px;
}