{% extends "registration/sample.html" %}
{% load static %}

{% block title %}
    Sign in
{% endblock %}

{% block body %}
    <main>
        <ul class="registration-window">
            <li>
                <section class="register">
                    <div class="register-form-container">
                        <h1> Вход </h1>
                        <div class="form-fields">
                            <div class="form-field">
                                <input type="text" placeholder="Email" class="field-email">
                            </div>
                            <div class="form-field">
                                <input type="text" placeholder="Password" class="field-password">
                            </div>
                            <div class="forget">
                                <a href="/reg/forget" target="_self">Забыли пароль?</a>
                            </div>
                        </div>
                        <div class="form-button">
                            <button class="button"> Войти </button>
                        </div>
                        <div>
                            <a href="/reg/signup" target="_self"> Первый раз у нас? </a>
                        </div>
                    </div>
                </section>
            </li>
            <li>
                <section class="image">
                    <img src="{% static 'registration/img/Frame32.png' %}" width="850" height="750" alt="Картиночка">
                </section>
            </li>
        </ul>
    </main>
{% endblock %}