{% extends "registration/sample.html" %}
{% load static %}

{% block title %}
    Forget?
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'registration/css/signup.css' %}">
{% endblock %}

{% block body %}
    <main>
        <ul class="registration-window">
            <li>
                <section>
                    <div>
                        <h1> Восстановление пароля </h1>
                        <div class="form-fields">
                            <div class="form-field">
                                <input type="text" placeholder="Email, к которому привязан аккаунт" class="field-email">
                            </div>
                        </div>
                        <div class="form-button">
                            <button class="button button-forget"> Сбросить пароль </button>
                        </div>
                    </div>
                </section>
            </li>
        </ul>
        <section class="image">
            <img src="{% static 'registration/img/Frame32.png' %}" class="image-1" alt="Картиночка">
        </section>
    </main>
{% endblock %}