{% extends "registration/sample.html" %}
{% load static %}

{% block title %}
    Join us
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'registration/css/signup.css' %}">
{% endblock %}

{% block body %}
    <main>
        <ul class="registration-window">
            <li>
                <section class="register">
                    <div class="register-form-container">
                        <h1> Регистрация </h1>
                        <div class="form-fields">
                            <div class="form-field">
                                <input type="text" placeholder="Email" class="field-email">
                            </div>
                            <div class="form-field">
                                <input type="text" placeholder="Имя" class="field-name">
                            </div>
                            <div class="form-field">
                                <input type="text" placeholder="Фамилия" class="field-name">
                            </div>
                            <div class="form-field">
                                <input type="text" placeholder="Никнейм" class="field-nickname">
                            </div>
                            <div class="form-field">
                                <input type="text" placeholder="Password" class="field-password">
                            </div>
                        </div>
                        <div class="form-button">
                            <button class="button"> Зарегестрироваться </button>
                        </div>
                        <div>
                            <a href="/reg/login" target="_self"> Наш пользователь? </a>
                        </div>
                    </div>
                </section>
            </li>
            <li>
                <section class="image">
                    <img src="{% static 'registration/img/Frame33.png' %}" width="1096" height="1080" alt="Картиночка">
                </section>
            </li>
        </ul>
    </main>
{% endblock %}