body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.logo {
    font-size: 24px;
}

.logo p {
    margin: 0;
}

.search-bar input {
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 300px;
}

.profile-section {
    display: flex;
    align-items: center;
}

.edit-profile {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
}

.profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

main {
    flex: 1;
    padding: 20px;
    margin-bottom: 30px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
}

.card {
    width: 420px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.ach-image {
    display: block;
    width: 420px;
    height: 240px;
}

.details {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.details h2 {
    font-size: 18px;
    margin: 0;
}

.details p {
    font-size: 14px;
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #F8F8F8;
}

input[type=text] {
    /*width: 562px;*/
    height: 42px;
    padding: 12px 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 25px;
    background-color: #F8F8F8;
    background-position: 3% 50%;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.statistic {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: end;
}

.likes {
    gap: 5px;
    display: flex;
    align-self: center;
    justify-content: start;
}

.views {
    display: flex;
    align-self: center;
    gap: 5px;
}

